<!DOCTYPE html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

    <form action="/make-new-student" method="POST">
        <label>Enter student's first name
            <input type="text" name="first-name">
        </label><br>
        
        <label>Enter student's last name
            <input type="text" name="last-name">
        </label><br>

        <label>Enter student's github username
            <input type="text" name="github">
        </label><br>

        <input type="submit" value="Enter Student">
    </form>
    
</body>

</html>
